{% extends "@block/block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a page title.
 *
 * Available variables:
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
{% block content %}
  {{ title_prefix }}
  {% if title %}
    <h1 class="page__title">{{ title }}</h1>
  {% endif %}
  {{ title_suffix }}
{% endblock %}
