{% extends "@block/block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for page tabs.
 *
 * Available variables:
 * - tabs: The Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 *
 * @ingroup themeable
 */
#}
{% block content %}
  {{ tabs }}
{% endblock %}
